.form {
  margin: 1rem 0;
  max-height: 60vh; /* Set a maximum height for the form */
  overflow-y: auto; /* Allow vertical scrolling for the form */
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.controls {
  overflow-y: auto; /* Allow vertical scrolling for the controls */
  flex-grow: 1; /* Allow the controls to take available space */
  margin-bottom: 1rem; /* Add space below the controls */
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.control input:focus {
  box-shadow: 0 0 3px #c34bff;
  outline: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #6a009e;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem; 
}

.actions button:hover,
.actions button:active {
  background-color: #f9e8ff;
}

.actions .submit {
  border: 1px solid #6a009e;
  background-color: #6a009e;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #410157;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}