.gadget {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.gadget h3 {
  margin: 0 0 0.25rem 0;
}

.gadget > div:last-child {
  margin-top: 4rem; 
}

/* .description {
  font-style: italic;
} */

.image {
  max-width: 30%; /* Ensure the image is responsive */
  height: auto;    /* Maintain aspect ratio */
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #6a009e;
  font-size: 1.25rem;
}

/* Media Query for Smaller Screens */
@media (max-width: 500px) {
  .gadget {
    flex-direction: column; 
    align-items: flex-start;
    margin: 0.5rem; 
    padding: 1rem; 
  }

  .gadget > div {
    width: 100%; /* Make child divs take full width */
  }

  .gadget > div:last-child {
    margin-top: 1rem; 
  }
}